<div>
    <table align="center">
      <tr>
        <td>
          <button mat-raised-button *ngIf="activePage > 1" color="accent" (click)="selected(activePage-1)">Previous</button>
        </td>
        <td *ngFor="let i of pages">
          <button mat-raised-button *ngIf="activePage != i" color="accent" (click)="selected(i)">{{i}}</button>
          <button mat-raised-button *ngIf="activePage == i" color="primary" (click)="selected(i)">{{i}}</button>
        </td>
        <td>
          <button mat-raised-button *ngIf="activePage < pages.length" color="accent" (click)="selected(activePage+1)">Next</button>
        </td>
      </tr>
    </table>
  </div>
