<div *ngIf='!taken && planner==null'>
    <h2>Get your planner: 
        <button mat-raised-button color="primary" (click)="getPlanner()">Get</button>
    </h2>
</div>
<div *ngIf='taken && planner!=null && planner.id!=null'>
    <table class="datatable">
        <tr class="data">
            <td><h4>Category: {{planner.category}}</h4></td>
            <td><h4>Num of exercises in category: {{planner.numCategory}}</h4></td>
        </tr>
        <tr class="data">
            <td><h4>Physical characteristics: {{planner.physicalCharacteristics}}</h4></td>
            <td><h4>Health condition: {{planner.healthCondition}}</h4></td>
        </tr>
    </table>
    <h2 *ngIf="!sim">Enter the time it took you to do the exercises: 
        <button mat-raised-button color="primary" (click)="addTime()">Add time</button>
    </h2>
    <h2 *ngIf="!sim">Fitbit simulation: 
        <button mat-raised-button color="primary" (click)="simulation()">Simulate</button>
    </h2>
    <h2 *ngIf="sim">Stop fitbit simulation: 
        <button mat-raised-button color="primary" (click)="stopSimulation()">Stop</button>
    </h2>
    <table mat-table [dataSource]="planner.exercises" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
    
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Exercise type </th>
            <td mat-cell *matCellDef="let element"> {{element.exerciseType}} </td>
        </ng-container>
    
        <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Repetition </th>
            <td mat-cell *matCellDef="let element"> {{planner.repetition}} </td>
        </ng-container>
    
        <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button mat-flat-button color="primary" class="details" (click)="details(element)">Details</button>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="header"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
