<div mat-dialog-content>
    <form #addExercise="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <h1>{{action}} exercise:</h1>
        <mat-form-field>
            <input matInput type="text" required #name='ngModel'
            [(ngModel)]="exercise.name" name="name" placeholder="Name">
            <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">Exercise name is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput type="text" required #description='ngModel' 
            [(ngModel)]="exercise.description" name="description" placeholder="Description"></textarea>
            <mat-error *ngIf="description.invalid && (description.dirty || description.touched)">Description is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-select #type='ngModel' [(ngModel)]="exercise.exerciseType" name="exerciseType" placeholder="Choose exercise type">
                <mat-option *ngFor="let e of exerciseType" [value]="e">
                {{e}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select #weight='ngModel' [(ngModel)]="exercise.exerciseWeight" name="exerciseWeight" placeholder="Choose exercise weight">
                <mat-option *ngFor="let c of category" [value]="c">
                {{c}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="addExercise.form.invalid">{{action}}</button>
        <button mat-raised-button color="primary" type="button" (click)="onClose()">Close</button>
    </form>
</div>
<!-- <div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div> -->