<div mat-dialog-content>
    <form #addExercise="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <h1>{{action}} exercise:</h1>
        <mat-form-field>
            <input matInput type="text" required #name='ngModel'
            [(ngModel)]="exercise.name" name="name" placeholder="Name">
            <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">Exercise name is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput type="text" required #description='ngModel' 
            [(ngModel)]="exercise.description" name="description" placeholder="Description"></textarea>
            <mat-error *ngIf="description.invalid && (description.dirty || description.touched)">Description is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-select #type='ngModel' [(ngModel)]="exercise.exerciseType" name="exerciseType" placeholder="Choose exercise type">
                <mat-option *ngFor="let e of exerciseType" [value]="e">
                {{e}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="exercise.exerciseType=='AEROBIC'">
            <mat-select #weight='ngModel' [(ngModel)]="exercise.intensity" name="intensity" placeholder="Choose exercise intensity">
                <mat-option *ngFor="let i of intensity" [value]="i">
                {{i}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="exercise.exerciseType =='STRETCHES' || exercise.exerciseType == 'MUSCULAR'">
            <mat-select #weight='ngModel' [(ngModel)]="exercise.musclesGroup" name="musclesGroup" placeholder="Choose exercise muscles group">
                <mat-option *ngFor="let m of musclesGroup" [value]="m">
                {{m}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="upload">
            <div *ngIf="exercise.pictures.length > 0">
                {{exercise.pictures.length}} files for this exercise:
                <div *ngFor="let f of exercise.pictures; let i = index" [attr.data-index]="i">
                    {{f.name}}
                    <button  mat-raised-button class="btnu" type="button" (click)="remove(i)" color="primary" >Remove</button>
                </div>
            </div>
            <input type="file" accept='image/*,video/*' (change)="upload($event)">
        </div>
        <button mat-raised-button color="primary" type="submit" [disabled]="addExercise.form.invalid">Save</button>
        <button mat-raised-button color="primary" type="button" (click)="onClose()">Close</button>
    </form>
</div>
<div class="overlay" *ngIf="wait">
    <div class="center">
        <mat-progress-spinner diameter=50 
                              mode="indeterminate" 
                              color="accent">
        </mat-progress-spinner> 
    </div>
</div>