<div>
    <mat-form-field>
        <input matInput [(ngModel)]="exerciseSearch.name" placeholder="Name">
    </mat-form-field>
    <mat-form-field>
        <mat-select [(ngModel)]="exerciseSearch.exerciseType" placeholder="Type">
            <mat-option *ngFor="let e of exerciseType" [value]="e">
            {{e}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select [(ngModel)]="exerciseSearch.exerciseWeight" placeholder="Weight">
            <mat-option *ngFor="let c of category" [value]="c">
            {{c}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="search" (click)="onSearch()">Search</button>

    <mat-form-field class="size">
        <mat-select [(ngModel)]="exerciseSearch.size" placeholder="Size" (selectionChange)='onSearch()'>
            <mat-option *ngFor="let e of [10,30,50]" [value]="e">
            {{e}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <table mat-table [dataSource]="exercises" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
    
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Exercise type </th>
            <td mat-cell *matCellDef="let element"> {{element.exerciseType}} </td>
        </ng-container>
    
        <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Exercise weight </th>
            <td mat-cell *matCellDef="let element"> {{element.exerciseWeight}} </td>
        </ng-container>

        <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button mat-flat-button color="primary" (click)="details(element)">Details</button>
            </td>
        </ng-container>
        
        <ng-container matColumnDef="change">
            <th mat-header-cell *matHeaderCellDef><button mat-raised-button color="primary" (click)="add()">Add exercise</button></th>
            <td mat-cell *matCellDef="let element">
                <button mat-flat-button color="primary" (click)="change(element)">Change</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="header"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <app-pagination *ngIf="totalElements > 0" [totalItems]='totalElements' [pageSize]='exerciseSearch.size' (pageSelected)='pageChanged($event)'></app-pagination>
</div>
