<div mat-dialog-content>
    <form #addRules="ngForm" (ngSubmit)="add()" novalidate>
        <h1>Add rules:</h1>
        <mat-form-field>
            <textarea rows="16" matInput type="text" required #rules='ngModel' 
            [(ngModel)]="rule" name="rules"></textarea>
            <mat-error *ngIf="rules.invalid && (rules.dirty || rules.touched)">Rules is required</mat-error>
        </mat-form-field>
        
        <button mat-raised-button color="primary" type="submit" [disabled]="addRules.form.invalid">Add rules</button>
    </form>
</div>
