<div>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <div>
            <mat-form-field>
                <input id="oldPassword" matInput placeholder="Old Password" type="password" formControlName="oldPassword">
                <mat-error *ngIf="oldPassword.hasError('required')">Old Password is required</mat-error>
                <mat-error *ngIf="oldPassword.hasError('minlength')">Old Password must be min 8 char long</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input id="password1" matInput placeholder="New Password" type="password" formControlName="password1">
                <mat-error *ngIf="password1.hasError('required')">New Password is required</mat-error>
                <mat-error *ngIf="password1.hasError('minlength')">New Password must be min 8 char long</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input id="password2" matInput type="password" placeholder="New Password2" formControlName="password2">
                <mat-error *ngIf="password2.hasError('required')">New Password2 is required</mat-error>
                <mat-error *ngIf="password2.hasError('minlength')">New Password2 must be min 8 char long</mat-error>
            </mat-form-field>
        </div>

        <div class='errorDiv' *ngIf="passwordForm.errors?.passwordsNotMatch">New passwords must match</div>
        <p>    
            <button id="submitBtn" mat-raised-button color="primary"
                type="submit" [disabled]="passwordForm?.invalid">Save</button>
        </p>
    </form>
</div>
