<div *ngIf='health!=null && health.id==null' class="center">
    <h2>Please enter your data and we will give you planner: </h2>
    <button mat-raised-button color="primary" (click)="openHealth()">Add</button>
</div>
<div *ngIf='sevenDays()'>
    <h2>Please update your data and we will give you planner:
        <button mat-raised-button color="primary" (click)="openHealth()">Change</button>
    </h2>
</div>
<div *ngIf='planner!=null && planner.id!=null'>
    <table>
        <tr>
            <td><h4>Category: {{planner.category}}</h4></td>
            <td><h4>Days in category: {{planner.numCategory}}</h4></td>
        </tr>
        <tr>
            <td><h4>Physical characteristics: {{planner.physicalCharacteristics}}</h4></td>
            <td><h4>Health condition: {{planner.healthCondition}}</h4></td>
        </tr>
    </table>
    <app-planner-exercise repetition="{{planner.repetition}}"></app-planner-exercise>
</div>