<div class="main"> 
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
        <div>
            <mat-form-field>
                <input matInput placeholder="Name" type="text" formControlName="name" id="name">
            </mat-form-field>
            <div class="error" *ngIf="form.name.touched && form.name.errors">
                <mat-error *ngIf="form.name.errors.required">Name is required</mat-error>
            </div>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Surname" type="text" formControlName="surname" id="surname">
            </mat-form-field>
            <div class="error" *ngIf="form.surname.touched && form.surname.errors">
                <mat-error *ngIf="form.surname.errors.required">Surname is required</mat-error>
            </div>
        </div>
        <div>
            <mat-form-field>
                <input matInput type="email" placeholder="Email" formControlName="email" id="email">
            </mat-form-field>
            <div class="error" *ngIf="form.email.touched && form.email.errors">
                <mat-error *ngIf="form.email.errors.required">Email is required</mat-error>
            </div>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Username" type="text" formControlName="username" id="username">
            </mat-form-field>
            <div class="error" *ngIf="form.username.touched && form.username.errors">
                <mat-error *ngIf="form.username.errors.required">Username is required</mat-error>
            </div>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Password" type="password" formControlName="password" id="password">
            </mat-form-field>
            <div class="error" *ngIf="form.password.touched && form.password.errors">
                <mat-error *ngIf="form.password.errors.required">Password is required</mat-error>
                <mat-error *ngIf="form.password.errors.minlength">Password must be at least 8 characters long</mat-error>
            </div>
        </div>
        <p>
            <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid" id="register">Register</button>
        </p>
    </form>
</div>
